/* Colors */
$gray-base: #35383d; //used mainly for backgrounds
$text-default: #e8e8e8;
$link: #429ad5;
$blue: #0073c1;
$blue-light: #338fcd;
$white: #ffffff;
$green: #6cc366;
$red: #d83a3a;
$red-light: #dc4e4e;
$disabled-item: #bebebe;

/* Fonts */
$fa: 'FontAwesome';
$fi: 'Flaticon';
$bebas : 'Bebas';
$os:  'Open Sans';

